body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("https://i.redd.it/fnt3y68mlz711.png");
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    background-color: #1e1f3ba1;
    padding: 10px;
    color: white;
    font-size: 2.5rem;
    text-shadow: 3px 3px 3px rgba(151, 151, 151, 0.5);
    margin: 0;
}

hr{
    border: 0.5px solid white;
    margin: 0;
}

nav a{
    color: white;
    text-decoration: none;
    padding: 10px 10px;
    display: inline-block;
    font-weight: bold;
    transition: 0.3s;
    margin: 1.2px;
}

nav a:hover{
    background-color: #1e1f3ba1;
    border-radius: 5px;
}

footer{
    color: white;
    text-shadow: 3px 3px 3px rgba(151, 151, 151, 0.5);
    position: absolute;
    top: 900px;
}